<div class="row">
    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Detalle Perfil</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">ID:</div>
                    <div class="col-8">{{perfil.id}}</div>
                    <div class="col-4">Nombre:</div>
                    <div class="col-8">{{perfil.nombre}}</div>
                    <div class="col-4">Descripcion:</div>
                    <div class="col-8">{{perfil.descripcion}}</div>
                    <div class="col-4">Empresa:</div>
                    <div class="col-8">{{perfil.empresa.nombre}}</div>
                    <div class="col-4">Estado:</div>
                    <div class="col-8">{{perfil.estado.descripcion}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Aplicaciones Asignadas</h5>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-3">ID:</div>
                                    <div class="col-9">{{aplicacion.id}}</div>
                                    <div class="col-3">Nombre:</div>
                                    <div class="col-9">{{aplicacion.nombre}}</div>
                                    <div class="col-3">Url:</div>
                                    <div class="col-9">{{aplicacion.url}}</div>
                                </div>
                            </div>
                            <div class="col-4"><img src="{{aplicacion.imagen}}" alt="" height="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



