<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>
    <app-usuario-lista [usuarios]="usuarios" (editUsuarioEvent)="editUsuario($event)"></app-usuario-lista>
</div>

<p-dialog [(visible)]="usuarioDialog" [style]="{width: '500px'}" header="Usuario" [modal]="true" styleClass="p-fluid">
    <app-usuario-mant *ngIf="usuarioDialog" [usuario]="usuario" (closeDialogEvent)="closeDialog($event)"></app-usuario-mant>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>