<div class="row g-3 needs-validation" novalidate>
    <div class="col-md-3">
      <label for="txtfechainicio" class="form-label">Fecha Inicio</label>
      <input type="text" class="form-control" id="txtfechainicio" [(ngModel)]="milog.fechainicio" placeholder="{{hoy | date:'yyyy-MM-dd' }}">
      <div class="invalid-feedback">
        Fecha de inicio es obligatorio
      </div>
    </div>
    <div class="col-md-3">
      <label for="txtfechafin" class="form-label">Fecha Fin</label>
      <input type="text" class="form-control" id="txtfechafin" [(ngModel)]="milog.fechafin" placeholder="{{hoy | date:'yyyy-MM-dd' }}" >
      <div class="valid-feedback">
        Fecha de inicio es obligatorio
      </div>
    </div>
    <div class="col-md-3">
      <label for="txtusuario" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="txtusuario" [(ngModel)]="milog.usuarioejecucion">
    </div>
    <div class="col-md-3">
      <label for="txtnombreapi" class="form-label">Nombre Api</label>
      <input type="text" class="form-control" id="txtnombreapi" [(ngModel)]="milog.nombreapi">
    </div>
    <div class="col-12 text-end">
      <button class="btn btn-primary" type="submit" (click)="buscarlogs(milog)">Buscar</button>
    </div>
  </div>